body {
    display: grid;
    place-items: center;
    max-width: 100%;
    background-color: #ecf0f1;
    height: auto;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.tabs {
    display: flex;
    gap: 3.2rem;
    text-transform: uppercase;
    cursor: pointer;
    list-style: none;
    margin-bottom: 3.2rem;
}

.menu_tab {
    display: flex;
    gap: 3.2rem;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 32rem;
    height: 100%;
}